<div class="container-fluid">

    <div class="row">
        <h2>Patient List</h2>
        <p>Filter:<input ng-model="filter" />&nbsp&nbsp&nbsp&nbsp&nbsp <button type="button" class="btn btn-primary" ng-click="openAddView()">Add new patient</button> </p>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="patient in patients | filter:filter  ">
                    <td>{{patient._id}}</td>
                    <td>{{patient.first_name}}</td>
                    <td>{{patient.last_name}}</td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="deletePatient(patient)">Delete</button>
                        <button type="button" class="btn btn-info" ng-click="updatePatient(patient)">Update</button>
                    </td>
                </tr>
            </tbody>

        </table>
        <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></pagination>
    </div>

</div>