<form>
    <div class="container-fluid">
        <div class="modal-header">
            <h3>{{tittle}}</h3>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td><input type="text" ng-model="patient._id" required ng-disabled="{{isDisabled}}" /></td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td><input type="text" ng-model="patient.first_name" required /></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td><input type="text" ng-model="patient.last_name" required /></td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td><input type="text" ng-model="patient.age" required /></td>
                    </tr>
                    <tr>
                        <td>
                            Family Doctor:
                        </td>
                        <td>
                            <select ng-model="doctorId" ng-options="doctor._id as doctor.name for doctor in doctors" />
                        </td>
                    </tr>
                    <tr>
                        <td>Created at:</td>
                        <td><input type="text" ng-model="patient.created_at" ng-disabled="true"></td>
                    </tr>
                    <tr>
                        <td>Last modified at:</td>
                        <td><input type="text" ng-model="patient.last_modified" ng-disabled="true"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="confirm()">{{confirmation}}</button>
            <button class="btn btn-default" ng-click="cancel()">cancel</button>
        </div>

    </div>
</form>
